<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>VGN Nintendo</title>
	<link rel="stylesheet" href="Styles/main.css">
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

</head>
<body>
	<h1 class="viewHeader" id="nintendoHeader">Nintendo</h1>
	<div class="nintendo">
		<div ng-repeat="tweet in feed.tweets">
			<div class="tweetContainer">
				<img class="tweetImg" src="{{tweet.author.avatar}}" alt="" height="50px" width="50px">
				<h5 class=tweetText>{{tweet.text}}</h3>
				<h6 class="tweetAuthor">{{tweet.author.fullName}}</h6>
			</div>
		</div>
	</div>
	
</body>
</html>