<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>VGN Today</title>
	<link rel="stylesheet" href="../Styles/load.css">
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<script src="../Scripts/angular.min.js"></script>
	<script src="../Scripts/angular-route.js"></script>
</head>
<body id="loadScreen">
		<div id="loadContainer">
			<a id="header" href="../index.html">Video Game News Today</a>
		</div>

	<script src="../Scripts/jquery.js"></script>
	<script src="../Scripts/main.js"></script>
</body>
</html>