body{
	background-color: #009ac7;
	margin: 0px;
	padding: 0px;
}
nav ul{
	position: fixed;
		top: -20px;
		right: 0px;
}
nav li{
	display: inline-block;
	color: black;
	padding: 20px;
	font-family: 'Oswald', sans-serif;
	margin: 0px;
}
nav li:hover{
	background-color: #009ac7;
}
nav li a{
	text-decoration: none;
	color: white;
}
.tweetContainer{
	height: 180px;
	width: 100vw;
	background-color: #009ac7;
	margin-bottom: 10px;
	border-radius: 4px;
}
.tweetAuthor{
	text-align: center;
	color: #1B1D1F;
	font-family: 'Oswald', sans-serif;
}

.viewHeader{
	font-size: 40px;
	font-family: 'Oswald', sans-serif;
	margin-top: 60px;
	text-align: center;
}
#VGN{
	color: White;
	margin: 0px;
	padding: 0px;
	margin-left: 30px;
	margin-top: 10px;
	font-family: 'Oswald', sans-serif;

}
.mainNav{
	background-color:  #8b8b8b;
	height: 55px;
	width: 100vw;
	position: fixed;
		top: 0px;
}

.tweetContent{
	margin-left: 40px;
	color: black;
}
.tweetText{
	color: white;
	text-align: center;
	font-size: 14px;
	font-family: 'Oswald', sans-serif;
}
.tweetImg{
	border-radius: 50em;
	margin-left: 48%;
	margin-top: 5px;
}
/*Nintendo*/
.nintendo{
	height: 100vh;
	width: 100vw;
}
#nintendoHeader{
	color: white;
}
/*Microsoft*/
.microsoft{
	height: 100vh;
	width: 100vw;

}
/*Playsttion*/
.playstation{
	height: 100vh;
	width: 100vw;
}
